:root {
  --white: #ffffff;
  --grey1: #fafafa;
  --grey2: #2f3848;
  --grey3: #1a202d;
  --black: #000000;
  --headingFont:'Raleway', sans-serif;
  --textFont:  'Roboto', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
} 
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; 
}
body {
  min-height: 100%;
  background-color: var(--white);
  font-size: 16px; 
  font-size: 1.6rem;
  font-family: var(--textFont);
}


h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--grey2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--grey2);
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primary {
  background-color: var(--grey2);
  color: var(--white);
}
.btn-primary:hover {
  background: var(--grey3);
}
.btn-secondary {
  background-color: var(--grey1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--grey2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

@media (min-width: 768px) {
  .container-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--grey1);
      flex: 0 0 300px;
  }
  .main {
      flex: 1;
  }
}


/* BARRA LATERAL */
aside  {
  padding: 3rem;
}

.form-new-project {
  margin-top: 6rem;
}
.form-new-project .input-text {
  border-bottom: 1px solid var(--grey2);
  border-radius: 0;
  background-color: var(--grey1);
}
.form-new-project .input-text::placeholder{
  color: var(--grey2);
}
.projects {
  margin-top: 10rem;
}
.projects-list li {
  margin-bottom: 2rem;
}
.projects-list li a {
  font-size: 1.4rem;
  color: var(--grey2);
  line-height: 1.5;
  font-weight: 300;
}
.app-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--grey2);
  padding: 4rem;
}
.username {
  color: var(--white);
  font-size: 2.2rem;
  margin: 0;
}
.username span {
  font-weight: 900;
}
.nav-principal a {
  color: var(--white);
  text-decoration: none;
}
.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/
.form {
  background-color: var(--grey3);
  padding: 4rem;
}
.form form {
  max-width: 600px;
  margin: 0 auto;
}
.input-container {
  display: flex;
}
.input-container label {
  margin-bottom: 1rem;
  color: var(--white);
}
.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 100%;
}

/** TAREAS LISTADO **/
.tasks-container {
  padding: 4rem;
}

.tasks-list {
  max-width: 600px;
  margin: 0 auto;
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: .5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem;

}
.shadow {
  -webkit-box-shadow: 0px 2px 6px -1px rgba(200,200,200,1);
  -moz-box-shadow: 0px 2px 6px -1px rgba(200,200,200,1);
  box-shadow: 0px 2px 6px -1px rgba(200,200,200,1);
}
.shadow-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
  box-shadow: 0px 6px 11px -8px rgba(0,0,0,0.9);
}
.task .actions .btn:first-of-type {
  margin-right: 1rem;
}
.task p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem;
}
.task .btn {
  cursor: pointer;
  padding: .8rem;
  font-size:1.4rem;
  border-radius: .5rem;
  margin: 0;
}

.status {
  margin-right: 1rem;
}
.status button, 
.message {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}
.message {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}
.message:hover {
  cursor: default;
}
.complete,
.correct {
  background-color: rgba(154, 252, 154, .3);
  color: var(--grey3);
}
.incomplete{
  background-color: rgba(255, 178, 178, .4);
  color: var(--grey3);
}
.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--white);
}



.task-enter,
.project-enter {
  opacity: 0;
}
.task-enter-active,
.project-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.task-exit,
.project-exit {
  opacity: 1;
}
.task-exit-active,
.project-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.form-user {
    background-color: var(--grey2);
    height: 100vh;
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    padding: 5rem 3rem;
    max-width: 500px;
    width: 95%;
    background-color: var(--white);
    border-radius: 1rem;
}

.form-field {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}
.form-field:last-of-type {
  margin: 0;
}
.form-field label {
  flex: 0 0 100px;
  font-family: var(--textFont);
}
.form-field input[type="password"],
.form-field input[type="email"], 
.form-field input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.account-link {
  margin-top: 2rem;
  display: block;
  opacity: .7;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-family: var(--headingFont);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
@media (min-width:768px) {
  .alert {
      width: auto;
      top: 30px;
      right: 10px;
      left: auto;
  }
}

.alert-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alert-error {
  background-color: rgb(230, 78, 78);
  color: var(--white);
}